{{ define "title" }}
{{ .Title }} - {{ .Site.Title }}
{{ end }}

{{ define "head" }}
    {{ $revealCSS := resources.Get "dist/reveal.js/dist/reveal.css" | resources.PostCSS | minify | fingerprint }}
    {{ $revealThemeCSS := resources.Get "dist/reveal.js/dist/theme/white.css" | resources.PostCSS | minify | fingerprint }}
    {{ $revealHighlightCSS := resources.Get "dist/highlight.js/styles/default.css" | resources.PostCSS | minify | fingerprint }}
    {{ $revealJS := resources.Get "reveal.js" | js.Build | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $revealCSS.RelPermalink }}" integrity="{{ $revealCSS.Data.Integrity }}">
    <link rel="stylesheet" href="{{ $revealThemeCSS.RelPermalink }}" integrity="{{ $revealThemeCSS.Data.Integrity }}">
    <link rel="stylesheet" href="{{ $revealHighlightCSS.RelPermalink }}" integrity="{{ $revealHighlightCSS.Data.Integrity }}">
    <script type="module" src="{{ $revealJS.RelPermalink }}" integrity="{{ $revealJS.Data.Integrity }}"></script>
{{ end }}

{{ define "main" }}
<article>
  <header>
    <h1>{{ .Title }}</h1>

    {{ $date := .Date.UTC.Format "2006-01-02" }}
    <time datetime="{{ $date }}">{{ $date }}</time>
    on <a href="{{ relURL "/" }}">{{ .Site.Title }}</a>

  </header>
  <div class="reveal">
    <div class="slides">
      <section data-markdown>
        <textarea data-template>
          {{ .RawContent }}
        </textarea>
      </section>
    </div>
  </div>
</article>
{{ end }}
