@import "sanitize";
@import "sanitize/forms";
@import "sanitize/assets";
@import "sanitize/typography";
@import "sanitize/system-ui";
@import "sanitize/ui-monospace";

html, body {
  height: 100%;
}

body {
  max-width: 56rem;
  width: 85%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

main, article {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  padding: 2rem 0;
}

/* Math display scrolling */
.katex-display > .katex {
  overflow-x: auto;
  overflow-y: hidden;
}

/* Highlight code and math */
.katex-display, pre {
  padding: 1em;
  background-color: #eeeeee;
}
code {
  background-color: #eeeeee;
  padding: 0 1ch;
}
pre code {
  /* Remove padding if in block */
  padding: 0;
}

/* Add left blockquote border */
blockquote {
  border-left: 5px solid #eeeeee;
  margin-left: 0;
  padding-left: 40px;
}

/* Center images in body */
img {
  margin: 0 auto;
  display: block;
}
